<nb-layout>

  <nb-layout-header fixed *ngIf="verifyToken()">
    <div class="logo-box"> <img src="../../assets/logo.png"></div>
    <button nbButton status="basic" size="small" (click)="toggle()">
       <nb-icon icon="menu-outline"></nb-icon>
    </button>
  </nb-layout-header>

  <nb-sidebar *ngIf="verifyToken()"  tag="left" responsive>
      <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="colored-column-warning">
       <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
