<div class="container-2">
	<div class="total-hiring-showing-box">
		<div class="no-of-hiring-agent-box">
			<div class="hiring-agent-image-left">
        <div class="dashboard-icons">
          <nb-icon class="dashboard-icon-size" icon="people-outline" status="info" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </div>
				

			</div>
			<div class="hiring-agent-text-right">
				<p> Total number of Users<br />{{users}}</p>
			</div>
		</div>
		<div class="no-of-showing-Assistant-box">
			<div class="showing-assistant-image-left">
        <div class="dashboard-icons">
				<nb-icon class="dashboard-icon-size" icon="video-outline" status="info" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </div>

			</div>
			<div class="showing-assistant-text-right">
				<p>Total number of Movies<br />{{movies}}</p>
			</div>
		</div>

	</div>

</div>


